DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=http://localhost:3000

SMTP_HOST=mail.privateemail.com
SMTP_PORT=587
SMTP_USER=jeroen@bareunity.com
SMTP_PASS=

EMAIL_FROM="Naturist Platform <jeroen@bareunity.com>"
